@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  height: 100vh;
  padding-bottom: 5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
