@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(49, 49, 49);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  background-color: darkred;
  width: 100%;
}
